# Lab | Web Scraping

Welcome to the "Books to Scrape" Web Scraping Adventure Lab!

**Objective**

In this lab, we will embark on a mission to unearth valuable insights from the data available on Books to Scrape, an online platform showcasing a wide variety of books. As data analyst, you have been tasked with scraping a specific subset of book data from Books to Scrape to assist publishing companies in understanding the landscape of highly-rated books across different genres. Your insights will help shape future book marketing strategies and publishing decisions.

**Background**

In a world where data has become the new currency, businesses are leveraging big data to make informed decisions that drive success and profitability. The publishing industry, much like others, utilizes data analytics to understand market trends, reader preferences, and the performance of books based on factors such as genre, author, and ratings. Books to Scrape serves as a rich source of such data, offering detailed information about a diverse range of books, making it an ideal platform for extracting insights to aid in informed decision-making within the literary world.

**Task**

Your task is to create a Python script using BeautifulSoup and pandas to scrape Books to Scrape book data, focusing on book ratings and genres. The script should be able to filter books with ratings above a certain threshold and in specific genres. Additionally, the script should structure the scraped data in a tabular format using pandas for further analysis.

**Expected Outcome**

A function named `scrape_books` that takes two parameters: `min_rating` and `max_price`. The function should scrape book data from the "Books to Scrape" website and return a `pandas` DataFrame with the following columns:

**Expected Outcome**

- A function named `scrape_books` that takes two parameters: `min_rating` and `max_price`.
- The function should return a DataFrame with the following columns:
  - **UPC**: The Universal Product Code (UPC) of the book.
  - **Title**: The title of the book.
  - **Price (£)**: The price of the book in pounds.
  - **Rating**: The rating of the book (1-5 stars).
  - **Genre**: The genre of the book.
  - **Availability**: Whether the book is in stock or not.
  - **Description**: A brief description or product description of the book (if available).
  
You will execute this script to scrape data for books with a minimum rating of `4.0 and above` and a maximum price of `£20`. 

Remember to experiment with different ratings and prices to ensure your code is versatile and can handle various searches effectively!

**Resources**

- [Beautiful Soup Documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)
- [Books to Scrape](https://books.toscrape.com/)

**Hint**

Your first mission is to familiarize yourself with the **Books to Scrape** website. Navigate to [Books to Scrape](http://books.toscrape.com/) and explore the available books to understand their layout and structure. 

Next, think about how you can set parameters for your data extraction:

- **Minimum Rating**: Focus on books with a rating of 4.0 and above.
- **Maximum Price**: Filter for books priced up to £20.

After reviewing the site, you can construct a plan for scraping relevant data. Pay attention to the details displayed for each book, including the title, price, rating, and availability. This will help you identify the correct HTML elements to target with your scraping script.

Make sure to build your scraping URL and logic based on the patterns you observe in the HTML structure of the book listings!


---

**Best of luck! Immerse yourself in the world of books, and may the data be with you!**

**Important Note**:

In the fast-changing online world, websites often update and change their structures. When you try this lab, the **Books to Scrape** website might differ from what you expect.

If you encounter issues due to these changes, like new rules or obstacles preventing data extraction, don’t worry! Get creative.

You can choose another website that interests you and is suitable for scraping data. Options like Wikipedia, The New York Times, or even library databases are great alternatives. The main goal remains the same: extract useful data and enhance your web scraping skills while exploring a source of information you enjoy. This is your opportunity to practice and adapt to different web environments!

### Task: A function named scrape_books that takes two parameters: min_rating and max_price. 
The function should scrape book data from the "Books to Scrape" website and return a pandas DataFrame with the following columns:

A function named scrape_books that takes two parameters: min_rating and max_price. The function should return a DataFrame with the following columns:
* UPC: The Universal Product Code (UPC) of the book.
* Title: The title of the book.
* Price (£): The price of the book in pounds.
* Rating: The rating of the book (1-5 stars).
* Genre: The genre of the book.
* Availability: Whether the book is in stock or not.
* Description: A brief description or product description of the book (if available).

You will execute this script to scrape data for books with a minimum rating of 4.0 and above and a maximum price of £20.

In [5]:
url1 = "https://books.toscrape.com/"

In [7]:
import requests

In [11]:
response = requests.get(url1)

In [13]:
response.status_code

200

In [15]:
from bs4 import BeautifulSoup

In [17]:
soup = BeautifulSoup(response.content)

In [ ]:
print(soup.prettify())

#### Title

In [73]:
# title

titles = soup.find_all("a", title = True)
titles = [title.get("title") for title in titles]
titles

# Here what I do first is to find within all the rows with the tag "a", filter the ones that have the atribute title.
# After that, I use "get" function to get the text within the attribute "title" in a loop, becuse I want them for all the books.
# Finally this is in brackets because I want them as part of my lis

['A Light in the Attic',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History of Humankind',
 'The Requiem Red',
 'The Dirty Little Secrets of Getting Your Dream Job',
 'The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull',
 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics',
 'The Black Maria',
 'Starving Hearts (Triangular Trade Trilogy, #1)',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)",
 'Rip it Up and Start Again',
 'Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991',
 'Olio',
 'Mesaerion: The Best Science Fiction Stories 1800-1849',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [65]:
len(titles)

20

In [241]:
tit_lower = [title.lower() for title in titles] # If I want to add more than one element in list in lowercase, I need to use a loop.
tit_lower

['a light in the attic',
 'tipping the velvet',
 'soumission',
 'sharp objects',
 'sapiens: a brief history of humankind',
 'the requiem red',
 'the dirty little secrets of getting your dream job',
 'the coming woman: a novel based on the life of the infamous feminist, victoria woodhull',
 'the boys in the boat: nine americans and their epic quest for gold at the 1936 berlin olympics',
 'the black maria',
 'starving hearts (triangular trade trilogy, #1)',
 "shakespeare's sonnets",
 'set me free',
 "scott pilgrim's precious little life (scott pilgrim #1)",
 'rip it up and start again',
 'our band could be your life: scenes from the american indie underground, 1981-1991',
 'olio',
 'mesaerion: the best science fiction stories 1800-1849',
 'libertarianism for beginners',
 "it's only the himalayas"]

In [299]:
clean_titles = [
    title.lower().replace(' ', '-').replace(',', '').replace(':', '').replace('#','').replace('(','').replace(')','').replace("'","")
    for title in titles
]
clean_titles

['a-light-in-the-attic',
 'tipping-the-velvet',
 'soumission',
 'sharp-objects',
 'sapiens-a-brief-history-of-humankind',
 'the-requiem-red',
 'the-dirty-little-secrets-of-getting-your-dream-job',
 'the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull',
 'the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics',
 'the-black-maria',
 'starving-hearts-triangular-trade-trilogy-1',
 'shakespeares-sonnets',
 'set-me-free',
 'scott-pilgrims-precious-little-life-scott-pilgrim-1',
 'rip-it-up-and-start-again',
 'our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991',
 'olio',
 'mesaerion-the-best-science-fiction-stories-1800-1849',
 'libertarianism-for-beginners',
 'its-only-the-himalayas']

#### Rating

In [115]:
# rating

ratings = soup.find_all("p", class_ = "star-rating")
ratings

[<p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>,
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>]

In [123]:
ratings_1 = [rating.get("class") for rating in ratings]
ratings_1

[['star-rating', 'Three'],
 ['star-rating', 'One'],
 ['star-rating', 'One'],
 ['star-rating', 'Four'],
 ['star-rating', 'Five'],
 ['star-rating', 'One'],
 ['star-rating', 'Four'],
 ['star-rating', 'Three'],
 ['star-rating', 'Four'],
 ['star-rating', 'One'],
 ['star-rating', 'Two'],
 ['star-rating', 'Four'],
 ['star-rating', 'Five'],
 ['star-rating', 'Five'],
 ['star-rating', 'Five'],
 ['star-rating', 'Three'],
 ['star-rating', 'One'],
 ['star-rating', 'One'],
 ['star-rating', 'Two'],
 ['star-rating', 'Two']]

In [131]:
star_ratings = [rating[1] for rating in ratings_1]
star_ratings

['Three',
 'One',
 'One',
 'Four',
 'Five',
 'One',
 'Four',
 'Three',
 'Four',
 'One',
 'Two',
 'Four',
 'Five',
 'Five',
 'Five',
 'Three',
 'One',
 'One',
 'Two',
 'Two']

In [133]:
# Word to number mapping, so I can use it later for the exercise
word_to_int = {
    'One': 1,
    'Two': 2,
    'Three': 3,
    'Four': 4,
    'Five': 5
}

# Convert the list
numeric_ratings = [word_to_int[rating] for rating in star_ratings]
numeric_ratings

[3, 1, 1, 4, 5, 1, 4, 3, 4, 1, 2, 4, 5, 5, 5, 3, 1, 1, 2, 2]

#### Price

In [152]:
# Get all <p> elements with class "price_color"
prices = soup.find_all("p", class_="price_color")
price_values = [float(price.text.replace('£', '')) for price in prices]
price_values

[51.77,
 53.74,
 50.1,
 47.82,
 54.23,
 22.65,
 33.34,
 17.93,
 22.6,
 52.15,
 13.99,
 20.66,
 17.46,
 52.29,
 35.02,
 57.25,
 23.88,
 37.59,
 51.33,
 45.17]

#### Availability

In [157]:
availability = soup.find_all("p", class_="instock availability")
availability

[<p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>,
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>]

In [167]:
av1 = [av.get_text(strip=True) for av in availability]
av1

['In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock']

In [174]:
# Let's create a function, that gives a dataframe as a result with all the variables described above. 

import pandas as pd

In [311]:
def scrape_books(min_rating,max_price):
    df = pd.DataFrame({
        'Title': titles,
        'Price (£)': price_values,
        'Rating': numeric_ratings,
        'Availability': av1,
        'Genre': genre_type,
        'Description': desc_list,
        'UPC': upc_list
    })
    
    new_df = df[(df['Rating']>= min_rating) & (df['Price (£)']<= max_price)]
    
    return new_df

In [321]:
scrape_books(4,20)

,Title,Price (£),Rating,Availability,Genre,Description,UPC
12,Set Me Free,17.46,5,In stock,Travel,Aaron Ledbetter’s future had been planned out ...,ce6396b0f23f6ecc

#### Second part of the lab: adding the other variables to the function.

- UPC
- Description
- Genre

In [ ]:
https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html
https://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html

In [ ]:
f"https://books.toscrape.com/catalogue/{book}_{count}"

In [297]:
clean_titles

['a-light-in-the-attic',
 'tipping-the-velvet',
 'soumission',
 'sharp-objects',
 'sapiens-a-brief-history-of-humankind',
 'the-requiem-red',
 'the-dirty-little-secrets-of-getting-your-dream-job',
 'the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull',
 'the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics',
 'the-black-maria',
 'starving-hearts-triangular-trade-trilogy-1',
 "shakespeare's-sonnets",
 'set-me-free',
 "scott-pilgrim's-precious-little-life-scott-pilgrim-1",
 'rip-it-up-and-start-again',
 'our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991',
 'olio',
 'mesaerion-the-best-science-fiction-stories-1800-1849',
 'libertarianism-for-beginners',
 "it's-only-the-himalayas"]

In [301]:
count = 1000
genre_list = []
desc_list = []
upc_list = []

for book in clean_titles:
    url = f"https://books.toscrape.com/catalogue/{book}_{count}"
    response = requests.get(url)
    soup = BeautifulSoup(response.content)
    # upc number
    upc = soup.find_all("td")
    num_upc = [num.get_text() for num in upc][0]
    upc_list.append(num_upc)
    # genre
    genre = soup.find_all("a")
    genre_type = [gen.get_text() for gen in genre][3]
    genre_list.append(genre_type)
    # description
    description = soup.find_all("p")
    descr_txt = [txt.get_text() for txt in description][3]
    desc_list.append(descr_txt)
    # count -1 because the url changes with every book, and the number appearing in the link is always one less
    count -=1

In [305]:
len(genre_list)

20

In [307]:
len(upc_list)

20

In [309]:
len(desc_list)

20

In [267]:
url2 = "https://books.toscrape.com/catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html"
response = requests.get(url2)
soup = BeautifulSoup(response.content)

In [273]:
upc = soup.find_all("td")
num_upc = [num.get_text() for num in upc][0]
num_upc

'e30f54cea9b38190'

In [285]:
genre = soup.find_all("a")
genre_type = [gen.get_text() for gen in genre][3]
genre_type

'Science Fiction'

In [293]:
description = soup.find_all("p")
descr_txt = [txt.get_text() for txt in description][3]
descr_txt

'Andrew Barger, award-winning author and engineer, has extensively researched forgotten journals and magazines of the early 19th century to locate groundbreaking science fiction short stories in the English language. In doing so, he found what is possibly the first science fiction story by a female (and it is not from Mary Shelley). Andrew located the first steampunk short Andrew Barger, award-winning author and engineer, has extensively researched forgotten journals and magazines of the early 19th century to locate groundbreaking science fiction short stories in the English language. In doing so, he found what is possibly the first science fiction story by a female (and it is not from Mary Shelley). Andrew located the first steampunk short story, which has not been republished since 1844. There is the first voyage to the moon in a balloon, republished for the first time since 1820 that further tells of a darkness machine and a lunarian named Zuloc. Other sci-stories include the first robotic insect and an electricity gun. Once again, Andrew has searched old texts to find the very best science fiction stories from the period when the genre automated to life, some of the stories are published for the first time in nearly 200 years. Read these fantastic stories today!OUR OWN COUNTRY So mechanical has the age become, that men seriously talk of flying machines, to go by steam, --not your air-balloons, but real Daedalian wings, made of wood and joints, nailed to your shoulder, --not wings of feathers and wax like the wings of Icarus, who fell into the Cretan sea, but real, solid, substantial, rock-maple wings with wrought-iron hinges, and huge concavities, to propel us through the air. Knickerbocker Magazine, May 18 ...more'

### Task: A function named scrape_books that takes two parameters: min_rating and max_price. 
The function should scrape book data from the "Books to Scrape" website and return a pandas DataFrame with the following columns:

A function named scrape_books that takes two parameters: min_rating and max_price. The function should return a DataFrame with the following columns:
* UPC: The Universal Product Code (UPC) of the book.
* Title: The title of the book.
* Price (£): The price of the book in pounds.
* Rating: The rating of the book (1-5 stars).
* Genre: The genre of the book.
* Availability: Whether the book is in stock or not.
* Description: A brief description or product description of the book (if available).

You will execute this script to scrape data for books with a minimum rating of 4.0 and above and a maximum price of £20.

In [ ]:
# apply a lower function to the titles, replace the : for nothing, unite the strings with (-).